body {
    margin: 0;
    font-family: arial, sans-serif;
    background: linear-gradient(135deg,#4b79a1,#283e51);
    display:flex;
    justify-content: center;
    align-items:center;
    height: 100vh;
}
.container {
    width: 100%;
    max-width: 380px;
}
.form-card {
    background: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}
.h2 {
    margin-top: 0;
    text-align: center;
    color: #333;
}
.input-group {
    margin-bottom: 12px 0;
}
label{
    font-size: 14px;
    color: #4444;
}
input{

    width: 100px;
    padding: 10px;
    margin-top: 6px;
    border: 1px solid #aaa;
    border-radius: 6px;
    font-size: 15px;
}
button{
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    background: #4b79a1;
    border: none;
    border-radius: 6px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}
button:hover{
    background: #3a6186;
}
.error {
    font-size: 12px;
    color: red;
}
.swtich{
    margin-top: 12px;
    text-align: center;
}